.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 600px;
  height: auto;
  border-radius: 7px;
  color: rgb(89, 89, 89);

  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px;

  &__header {
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    // background-color: rgb(62, 145, 253);
  }
  &__name {
    font-weight: 600;
    font-size: 22px;
  }
  &__options {
    display: flex;
    align-items: center;
  }
  &__menu {
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
  }

  &__body {
    padding: 10px;
    color: black;
  }
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  box-shadow: 0 2px 5px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 7px;
  transition: all 0.2s;
  position: absolute;
  background-color: #fff;
  li {
    padding: 8px;
    &:first-child {
      border-radius: 7px 7px 0 0;
    }
    &:last-child {
      border-radius: 0 0 7px 7px;
    }
    &:hover {
      cursor: pointer;
      background-color: darken(#fff, 10%);
    }
  }
}
